<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.3.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="PPWCode.Vernacular.Exceptions.II" version="1.0.0" targetFramework="net45" />
  <package id="StyleCop.MSBuild.PPWCode" version="4.7.49.0" targetFramework="net45" developmentDependency="true" />
</packages>